<div class="jumbotron text-center">
  <h1>Heyo!</h1>
  <p>Find me in app/views/static_pages/about.html.erb</p>
  <div class="container">
    <p>
      Hey I'm <a href="http://tinusw.github.io/">Tinus Wagner</a>, check me out!
    </p>
  </div>
</div>
