<div class="jumbotron text-center header">
  <h1>THE BOOT SHOP #IndexPage</h1>
  <p>Find me in app/views/static_pages/index.html.erb</p>
  <div class="container">
    <p>
      YOUR ONE-STOP 
      FASHION DESTINATION
      <br>
      Shop from over 850 of the best brands, including our own label. Plus, get your daily fix of the freshest style, celebrity and music news.
    </p>
  </div>
</div>
<div class="container">
  <div class="featured-product text-center">
    <%= @featured_product.name %>
  </div>
</div>