<div class="jumbotron text-center header">
  <h1>THE BOOT SHOP</h1>
  <p>Find me in app/views/static_pages/index.html.erb</p>
  <div class="container">
    <p>
      YOUR ONE-STOP 
      FASHION DESTINATION
      <br>
      Shop from over 850 of the best brands, including our own label. Plus, get your daily fix of the freshest style, celebrity and music news.
    </p>
  </div>
</div>
<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" hidden>
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @products.each do |product| %>
      <div class="item<%= " active" if product == @products.first %>">
        <%= image_tag(product.image_url, class: "img-responsive center") %>
        <div class="carousel-caption">
          <%= link_to "Buy", product, class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>