<div class="col-md-6 col-md-offset-3 header-spacing">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Thank you. We have received your message and will respond as soon as possible.</h1>
    </div>
    <div class="panel-footer text-center">
      <%= link_to "Home", root_path, class:"btn btn-success" %>
    </div>
  </div>
</div>