$primary-color: rgba(24, 24, 66, 1.0);
$secondary-color: rgba(175, 238, 238, 0.3);
$tertiary-color: rgba(199, 46, 69, 1.0);
$background-layer1: rgba(211, 224, 247, 1.0);
$background-color: rgba(211, 224, 247, 0.7);

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  background: $background-color;  
}

body {
  width: 100%;
  background: $background-color;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(211, 224, 247, 0.7);
  font-size: 16px;
    a {
      color: black;
    }
}

.center {
  margin: 0 auto;
  float: none;
}

@import 'products.scss'