$primary-color: rgba(24, 24, 66, 1.0);
$secondary-color: rgba(175, 238, 238, 0.3);
$background-layer1: rgba(211, 224, 247, 1.0);
$background-color: rgba(211, 224, 247, 0.7);

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  background: $background-color;  
  margin: 0;
  height: 100%;
}

body {
  width: 100%;
  font-weight: 200;
  background: $background-color
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.center {
  margin: 0 auto;
  float: none;
}

.header-spacing {
  margin-top: 50px;
}

.alert-notices {
  position: fixed;
  margin-top: 50px;
  width: 100%;
}

.glyphicon-remove {
  color: rgba(255, 0, 0, 0.7);
  font-size: 1.5em;
  &:hover {
    transition: opacity;
    transition: 1s ease-in-out;
    color: rgba(255, 192, 203, 1.0);
  }
}

@import 'navbar.scss';
@import 'products.scss';
@import 'comments.scss';