$primary-color: rgba(24, 24, 66, 1.0);
$secondary-color: rgba(175, 238, 238, 0.3);
$background-layer1: rgba(211, 224, 247, 1.0);
$background-color: rgba(211, 224, 247, 0.7);

#menu-toggle {
  visibility: hidden;
}

.active {
  a { 
    color: $primary-color;
  }
}

ul {
    background-color: $background-color;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;
    padding-left: 0;
    padding-top: 10px;

  }
  
  li {
    border-bottom: 2px solid $background-color;
    color: $secondary-color;
    display: block;
    font-size: 1.3em;
    padding-top: 35px;
  }

  .input {
    margin: 0 auto;
    width: 50%;
  }

  a {
    text-decoration: none !important;
  }

  #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }
  
  .label-toggle {
    top: 4px;
    position: fixed;
    background: linear-gradient(to bottom, $primary-color 0%, $primary-color 20%, transparent 20%, transparent 40%, $primary-color 40%, $primary-color 60%, transparent 60%, transparent 80%, $primary-color 80%, $primary-color 100%); //Gradient Hamburger
    cursor: pointer;
    display: block;
    float: left;
    height: 35px;
    margin-left: 10px;
    width: 40px;
  }
  
  .wrapper {
    display: block;
  }

@media screen and (max-width: 768px) {
  ul {
    padding-top: 8%;
  }
  
  li {
    border-bottom: 2px solid $background-color;
    color: $secondary-color;
    display: block;
    font-size: 1.3em;
    padding-top: 30px;

  }

  #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
  }
  
  .label-toggle {
    margin-right: 5%;
    background: linear-gradient(to bottom, $primary-color 0%, $primary-color 20%, transparent 20%, transparent 40%, $primary-color 40%, $primary-color 60%, transparent 60%, transparent 80%, $primary-color 80%, $primary-color 100%); //Gradient Hamburger
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    width: 35px;
  }
  
  .wrapper {display: block;}
}


@media screen and (max-width:1024px) {
  
}
