$primary-color: #181842;
$secondary-color: rgba(175, 238, 238, 0.3);
$tertiary-color: #c72e45;
$background-color: #d3e0f7;

.container {
  width: 100%;
}

// All in _products Partial
.product {
  margin-top: 40px;
  border-radius: 15px;
  background-color: $tertiary-color;
}

.products {
  padding-top: 0.5%;
  border-radius: 30px;
  background-color: $secondary-color;
}

.container-image {
  margin: 0 auto;
  margin-top: 1%;
}

.img-responsive {
  border-radius: 30px;
}