$primary-color: #181842;
$secondary-color: rgba(175, 238, 238, 0.3);
$background-color: #d3e0f7;

.container {
  width: 100%;
}

.container-fluid {
  padding: 0;
}

// All in _products Partial

.product {
  padding: 0;
}

#product-wrapper {
  overflow:hidden;
  .img-hover {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .product-info {
    position: absolute;
    margin: 0 auto;
    top: 150px;
    visibility: hidden;
    z-index: 2;
      a {
        color: #333333;
        text-decoration: none;
      }
  }
  .product-options {
    position: relative;
    margin: 0 auto;
    z-index: 5;
  }
  
  &:hover .product-info {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    visibility:visible;
  }
  &:hover .img-hover {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    opacity: 0.4;
  }
}

.img-responsive {
  border-radius: 30px;
}