<div class="container-fluid">
  <p id="notice"><%= notice %></p>
    <div class="header-text text-center">
      <h1>Products</h1>
    </div>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
    </div>
    <div class="container text-center">
      <button class="btn btn-success">
        <%= link_to 'New Product', new_product_path %>
    </div> 
  </div>
</div>
