<div class="container-fluid">
  <div class="header-spacing">
    <p id="notice">
      <%= notice %>
    </p>
    <% cache(cache_key_for_products) do %>
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    <% end %>
  </div>
  <div class="container text-center">
    <%= will_paginate @products %>
    <br>
    <% if signed_in? && current_user.admin? %>
      <%= link_to 'New Product', new_product_path, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
