<div class="container-fluid">
  <div class="header-spacing">
    <p id="notice">
      <%= notice %>
    </p>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
  <div class="container text-center">
    <%= will_paginate @products %>
    <br>
    <%= link_to 'New Product', new_product_path, class: "btn btn-success" %>
  </div>
</div>
