<div class="container">
  <div class="header-spacing text-center">
    <h1>New Product</h1>
  </div>
  
  <div class="container">
    <%= render 'form', product: @product %>
  </div>

  <div class="links text-center">
  <%= link_to 'Back', products_path, class: "btn btn-info" %>
  </div>
</div>